body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.word-color{
    color: orange;
}
h1{
    font-size: 40px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, tomato);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}
#header{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 40%;
}
.half-width img{
    width: 80%;
}
.details{
    width: 380px;
    padding-bottom: 30px;
}
#about-me{
    display: flex;
    margin-bottom: 70px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.header-width{
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
}
.about-width{
    margin-left: 7%;
}
#recipe{
    margin-bottom: 80px;
}
.recipe-title{
    margin: auto;
    width: 500px;
    text-align: center;
}
#foods{
    display: flex;
}
.food-details img{
    height: 150px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
}
.food-details{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.123);
    border-radius: 10px;
}
.food-name{
    text-align: center;
}